
<style>
  
    
</style>



<header>
    <img style="height: 60%;width: 100%" src="https://c692291.parspack.net/c692291/aaaaa%20%281%29/ChatGPT%20Image%20Oct%2020%2C%202025%2C%2008_14_47%20PM.png?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=13QaKvGFa8yKiHnC%2F20251020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251020T165121Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Signature=03f67ce420034728834b7101b10fe2f70521e22db9839172aa1beabe78d9aa7b" alt="a">
</header>
<nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div style="background-color: #f9fcff;" class="container-fluid">
    <a class="navbar-brand" href="#">SHOPING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/register/">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/verify/">Pricing</a>
        </li>
          {% if request.user.is_admin %}
             <li class="nav-item">
                <a class="nav-link " href="/bucket/">Bucket</a>
             </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>